/*General*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    padding: 20px;
  }
  
  /*Encabezado*/
  header {
    background-color: #000;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  
  header h1 {
    flex: 1;
    text-align: center;
    margin: 0;
  }
  
  .logo {
    margin-left: auto;
  }
  
  .logo img {
    max-width: 100px;
  }
  
  /*Secciones principales*/
  main {
    margin: 20px 0;
  }
  
  section {
    margin-bottom: 20px;
  }
  
  section h2 {
    color: #333;
    margin-bottom: 10px;
  }
  
  section p {
    margin-bottom: 15px;
  }
  
  /* Navegación */
  nav ul {
    list-style: none;
  }
  
  nav ul li {
    display: inline;
    margin-right: 20px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  nav ul li a:hover {
    text-decoration: underline;
  }
  
  /*FORMULARIO*/
  form {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  form label {
    display: block;
    margin-bottom: 5px;
    color: #555;
  }
  
  form input[type="text"],
  form input[type="email"],
  form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  form button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
  }
  
  form button:hover {
    background-color: #555;
  }
  
  /*pie de página*/
  footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    background-color: #333;
    color: #fff;
  }
  
  /* Sección de personajes */
  .armas, .personajes {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
  }
  
  .arma, .personaje {
    flex: 1 1 calc(33.333% - 30px);
    text-align: center;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    transition: transform 0.3s, box-shadow 0.3s;
    box-sizing: border-box;
  }
  
  .arma img, .personaje img {
    max-width: 100%;
    border-radius: 8px;
  }
  
  .arma h4, .personaje h4 {
    margin-top: 15px;
    font-size: 1.2rem;
    color: #333;
  }
  